#!/bin/bash

export MPIS_COMPILER="${MPIS_DIR}/mpis-compile"

export MPIS_SCHEDULER="${MPIS_DIR}/mpis-schedule"

export MPIS_UI="${MPIS_DIR}/mpis-ui"

export MPIS_OUTPUT_ROOT="out"

export MPIS_STDOUT_EXTENSION="stdout.log"
export MPIS_STDERR_EXTENSION="stderr.log"

export MPIS_USER_ID="$( whoami )"

export MPIS_EDITOR="code"
export MPIS_EDITOR_ARGS="-wr"
